{{ define "main" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Go Starter Template {{if .Title}} - {{.Title}} {{end}}</title>
      <!--<link href="css/style.css" rel="stylesheet" />-->
      {{ block "styles" . }}
      {{ end }}
    </head>
    <body>
      <div id="content">
        {{ block "content" . }}
          ok
        {{ end }}
      </div>
      <script src="/web/js/htmx.min.js"></script>
      <script src="/web/js/handle-error.js"></script>
      {{ block "scripts" . }}
      {{ end }}
    </body>
  </html>
{{ end }}
