package views

templ Metatags() {
	<link href="https://flowbite.com/docs/images/logo.svg" rel="icon"/>
	<link href="/web/css/output.css" rel="stylesheet"/>
	<script type="module" src="/web/js/htmx.min.js"></script>
	<script type="module" src="/web/js/alpine.min.js"></script>
	<script type="module" src="/web/js/favicon-selector.js"></script>
	<script type="module" src="/web/js/handle-error.js"></script>
}
