{{ define "signup-form" }}
<form class="mx-auto mb-4" hx-post="/signup" hx-swap="outerHTML">
  <div class="mb-5">
    {{ .CSRF }}
    <label
      for="email"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Your email</label
    >
    <!--prettier-ignore-->
    <input
      type="email"
      id="email"
      name="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="name@flowbite.com"
      autocomplete="false"
      required
      {{ if .Email }} value="{{ .Email }}" {{ end }}
    />
    {{ if .Error.Email }}
    <p class="text-red-400 mt-2">{{ .Error.Email }}</p>
    {{ end }}
  </div>

  <div class="mb-5">
    <label
      for="password"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Your password</label
    >
    <div class="relative" x-data="{ show: false }">
      <!--<password-input-control>-->
      <!--prettier-ignore-->
      <input
        id="password"
        x-bind:type="show ? 'text' : 'password'"
        type="password"
        name="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        autocomplete="false"
        required
        {{ if .Password }} value="{{ .Password }}" {{ end }}
      />
      <svg
        id="open-eye"
        @click="show = false"
        x-bind:class="show ? '' : 'hidden'"
        class="absolute right-2 top-2 text-gray-900 dark:text-white cursor-pointer"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M1 12C1 12 5 3 12 3s11 9 11 9-4 9-11 9S1 12 1 12z" />
        <circle cx="12" cy="12" r="3" />
      </svg>
      <svg
        id="closed-eye"
        @click="show = true"
        x-bind:class="show ? 'hidden' : ''"
        class="absolute right-2 top-2 text-gray-900 dark:text-white cursor-pointer"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M1 12C1 12 5 21 12 21s11-9 11-9-4-9-11-9S1 12 1 12z" />
        <line x1="1" y1="12" x2="23" y2="12" />
      </svg>
      <!--</password-input-control>-->
    </div>
    {{ if .Error.Password.Validations }}
    <ul class="text-red-400 mt-2 list-disc list-inside">
      {{ range .Error.Password.Validations }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
    <!--prettier-ignore-->
    {{ end }}
    {{ if .Error.ErrorMessage }}
    <p class="text-red-400">{{ .Error.ErrorMessage }}</p>
    {{ end }}
  </div>

  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
</form>
{{ end }}
