package layouts

import (
	"go-starter-template/internal/infrastructure/views"
	"go-starter-template/internal/infrastructure/views/components"
)

templ MainLayout(title, path string) {
	@views.Base(title) {
		<div class="h-screen flex flex-col">
			@components.Header(path)
			<div class="grow">
				<div id="content" class="max-w-screen-xl mt-20 m-auto px-4">
					{ children... }
				</div>
			</div>
			@components.Footer()
		</div>
	}
}
