{{ define "metatags" }}
  <link href="https://flowbite.com/docs/images/logo.svg" rel="icon" />
  <link href="/web/css/output.css" rel="stylesheet" />
  <script defer="true" src="/web/js/htmx.min.js"></script>
  <script defer="true" src="/web/js/favicon-selector.js"></script>
  <script defer="true" src="/web/js/handle-error.js"></script>
  <script defer="true">
    function reEvent(node, event, callback) {
      if (node) {
        node.removeEventListener(event, callback);
        node.addEventListener(event, callback);
      }
    }
  </script>
{{ end }}
