package layouts

import (
	"go-starter-template/pkg/infrastructure/views"
	"go-starter-template/pkg/infrastructure/views/components"
)

templ AuthLayout(title string) {
	@views.Base(title) {
		<div class="h-screen flex flex-col">
			@components.PublicHeader()
			<div class="m-auto max-w-xl w-full min-w-3xs">
				{ children... }
			</div>
		</div>
	}
}
